.footer {
	background : lightgray;
	padding : .6em;
	font-size : 1;
	color : grey;
	font-family : ubuntu;
	position : relative;
	clear : both;
}
.footer:before,
.footer:after {
	content : '';
	background : inherit;
	height : 100%;
	top : 0;
	position : absolute;
	width : calc(50vw - 50%);
}
.footer:before {
	right : 100%;
}
.footer:after {
	left : 100%;
}