<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link href='http://localhost:4000/reset.css' rel='stylesheet'>
	<link href='/selection-box/css/main.css' rel='stylesheet'>
	<link href='http://localhost:4000/utils.css' rel='stylesheet'>
	<link href='http://localhost:4000/banner/main.css' rel='stylesheet'>
	<link href='http://localhost:4000/combined/main.css' rel='stylesheet'>
	<link href='http://localhost:4000/form/main.css' rel='stylesheet'>
	<link href='http://localhost:4000/search-item/main.css' rel='stylesheet'>
	<link href='http://localhost:4000/pagination/main.css' rel='stylesheet'>
	<link href='http://localhost:4000/footer/main.css' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id='app'>


	</div>

	<script type='text/html' id='result-template'>
		<div class="media search-result-item _10px">
			<a class="media-image" class='search-result-item-image'>
				<img alt="" src="http://localhost:4000/images/medium/<% this.id %>.jpg">
			</a>
			<div class="media-body">
				<h3><a href=""><% this.name %></a></h3>
				<div class="add-info"><% this.from %> <% this.to %>
				</div>
			</div>
		</div>
	</script>

	<script type='text/html' id='aside-template'>
		<div class="menu">
			<h2>Filters</h2>
			<ul class="filters">
				<h3>Time range</h3>
				<li class="range-filters">
					<label for="year-from">from</label>
					<input id="year-from" type="range" step="1" min="-50" max="400">
					<label for="year-from">234AD</label>
				</li>
				<li class="range-filters">
					<label for="year-to">to</label>
					<input id="year-to" type="range" step="1" min="-50" max="400">
					<label for="year-to">234AD</label>
				</li>
			</ul>
			<h3>Sort by</h3>
			<select id='simple-styling'>
				<option value='reign' <% if(this.sortBy=='reign') { %> selected <% } %>>reign shortest first</option>
				<option value='succession' <% if(this.sortBy=='succession') { %> selected <% } %>>succession ascending</option>
			</select>
		</div>
	</script>

	<script type='text/html' id='footer-template'>
		<div class="footer _14px">©richard hunter 2016</div>
	</script>

	<script type='text/html' id='banner-template'>
		<div class="banner">
			<h1>
				<a href="">
					White Label
				</a>
			</h1>
		</div>
	</script>

	<script type='text/html' id='my-template'>
		<h1><% this.name %></h1>
	</script>



	<script src='/selection-box/lib/sundry.js'></script>
	<script src='/selection-box/lib/dom.js'></script>
	<script src='/selection-box/selection-box.js'></script>
	<script src='/js/router.js'></script>
	<script src='/js/delegate.js'></script>
	<script src='/js/template.js'></script>
	<script src='/js/main.js'></script>
</body>
</html>