/* clearfix */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}


/* media object */
.media {
}
.media, .media-body {
	overflow : hidden;
}
.media .media-image {
	float:left;
	margin-right: .6em;
}
.media .media-image img{
	display:block;
}
.media .imgExt{
	float:right;
	margin-left: 10px;
}